

.jumbotron {
  text-align: center;
  
}

.page-footer {
	background-color: #C8C8C8;
}


body {
	font-family: Helvetica, Arial, sans-serif;
}

#icons {
	display: table-row;
}

#main-nav {
  margin-bottom: 10px;
}


